
*{
	margin:0;
	padding:0;
}
.hero
{
	background-position:center;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.nav-bar
{
	display:flex;
	padding: 20px 40px;
	float:right;
	font-weight:bold;
}
.hero img
{
	margin-left:42px;
	margin-top:10px;
}
.nav-links
{
	flex:1;
}
.nav-links-ul
{
	margin-left:50px;
	display:inline;
}
.nav-links ul li
{
	list-style:none;
	display:inline-block;
	padding:8px 25px;
}
.nav-links ul a
{
	text-decoration:none;
	font-size:13px;
}
.nav-links ul li::after
{
	content:'';
	width:0;
	height:2px;
	background:#3aaede;
	display:block;
	margin:auto;
	transition:.3s;
}
.nav-links ul li:hover::after
{
	width:100%;
}
.whiteClass { color: #fff }
.blackClass { color: rgb(10, 10, 10) }