<img class="background" src="../assets/img/logo.jpg" alt="logo" width="20%" height="20%">
<div id="wrapper">
  <ul>
    <li>
        <a [routerLink]="['/']"><div>Home</div></a>
    </li>
    <li>
        <a href="#"><div>About us</div></a>
    </li>    
    <li>
        <a href="#"><div>Contact</div></a>
    </li>   
    <li  *ngIf="isLoggedIn(); else showLogin;"><a [routerLink]="['/logout']"><div>Logout</div></a></li>
    <ng-template #showLogin>
        <li id="login_width"><a [routerLink]="['/login']"><div>Login</div></a></li>
    </ng-template>              
  </ul>
</div>