<img style="margin-left:53px;" class="background" src="assets/img/logoo.png" alt="logo" width="15%" height="15%">
<div id="wrapper">
  <ul>
    <li>
        <a [routerLink]="['/']"><span>Home</span></a>
    </li>
    <li>
        <a href="#"><span>About us</span></a>
    </li>    
    <li>
        <a href="#"><span>Contact</span></a>
    </li>   
    <li  *ngIf="isLoggedIn(); else showLogin;"><a [routerLink]="['/logout']"><span>Logout</span></a></li>
    <ng-template #showLogin>
        <li id="login_width"><a [routerLink]="['/login']"><span>Login</span></a></li>
    </ng-template>              
  </ul>
</div>