<app-header></app-header><br/>
<app-menu></app-menu><br/>
<h1 style="text-align: center;">User Profile</h1><br/>
<div>
    <table #dataTable class="display" id="userprofile" style="margin:auto;"  *ngFor="let item of userprofile">
        <tr><td><b>User Id</b></td><td>{{item.USERID}}</td></tr>
        <tr><td><b>Ref Id</b></td><td>{{item.CLIENTID}}</td></tr>    
        <tr><td><b>User Type</b></td><td>{{item.UserCategory}}</td></tr> 
        <tr><td><b>User Levels</b></td><td>{{item.LEVEL}}</td></tr> 
        <tr><td><b>MrMs</b></td><td>{{item.USERMRMS}}</td></tr>  
        <tr><td><b>Name</b></td><td>{{item.USERNAME}}</td></tr>
        <tr><td><b>Status</b></td><td>{{item.STATUS}}</td></tr>
        <tr><td><b>Status Date</b></td><td>{{item.DATE| date: 'dd-MMM-yyyy'}}</td></tr>
        <tr><td><b>Remarks</b></td><td>{{item.Remarks}}</td></tr>
        <tr><td><b>Email Id</b></td><td>{{item.USEREMAIL}}</td></tr>
        <tr><td><b>Contact Number</b></td><td>{{item.USERCONTACTNO}}</td></tr>
    </table>
    <p style="text-align: center;margin-top: 29px;"><a style="cursor: pointer;" (click)="backClicked();"><img class="back-img" src="assets/img/backarrow.png" width="30px" height="20px"  alt="Back"></a></p>
</div>

<app-footer></app-footer>