
<header id="login" *ngIf="!LoginClient">
    <!-- Background Image -->
    <div class="bg-img">
        <img class="background" src="assets/img/laptop.jpg" alt="logo" width="100%" height="100%">
    </div>
</header>
<span *ngIf="LoginClient">
<app-header></app-header><br/>
<app-menu></app-menu><br/></span>
<div class="signup_form">
<div class="form-group">
        <form class="form" focusInvalidInput role="form" autocomplete="off" id="formLogin" novalidate=""
        [formGroup]="SignupClientForm" (submit)='signUpClient(SignupClientForm.value)'>
       <h3 style="text-align: center;margin-bottom: 22px;">Client Form</h3>
       <table style="width:100%;">

        <tr *ngIf="LoginClient && id != 0">
            <td><label>Client Id</label></td>
            <td class="tooltips"><input type="text"  formControlName="ClientID" class="form-control"/><span class="tooltipstext">Client Id</span></td>
        </tr>

         <tr>
            <td><label>Name<span class="mandatory">*</span></label></td>
            <td class="tooltips"><input type="text" maxlength="80" formControlName="ClientName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ClientName.errors }" required/><span class="tooltipstext">Ex: Indian Express</span>
            <div *ngIf="submitted && f.ClientName.errors" class="invalid-feedback">
                <div *ngIf="f.ClientName.errors.required">Please enter Name.</div>
            </div>
            </td>
        </tr>
        <tr>
            <td><label>Short Name</label></td>
            <td class="tooltips"><input type="text"  maxlength="8" formControlName="ClientShortName" class="form-control" /><span class="tooltipstext">Optional Info</span></td>
        </tr>
        <tr>
            <td><label>Door No,Street</label></td>
            <td class="tooltips"><input type="text" maxlength="80" formControlName="RegdAddressL1" class="form-control"  /><span class="tooltipstext">Ex: 305, Express Avenue</span>
          <!--  <div *ngIf="submitted && f.RegdAddressL1.errors" class="invalid-feedback">
                <div *ngIf="f.RegdAddressL1.errors.required">Please enter Address.</div>
            </div>-->
            </td>
        </tr>
        <tr>
            <td><label>Area</label></td>
            <td class="tooltips"><input type="text" maxlength="40" formControlName="Area" class="form-control" /><span class="tooltipstext">Ex:Royapetta</span>
            <!--<div *ngIf="submitted && f.Area.errors" class="invalid-feedback">
                <div *ngIf="f.Area.errors.required">Please enter Area.</div>
            </div>-->
            </td>
        </tr>
        <tr><td><label>City</label></td>
            <td class="tooltips">
                 <select placeholder="City" maxlength="40" class="form-control" id="City" name="City" formControlName="City">                    
                    <option *ngFor="let item of cityLookups"  value="{{item.Code}}" selected>{{item.Description}}</option>
                </select>              
                <span class="tooltipstext">Ex:Chennai</span>
            </td>
        </tr>
        <tr>
            <td><label>PIN CODE</label></td>
            <td class="tooltips"><input type="text" [ngClass]="{ 'is-invalid': submitted && f.PINCODE.errors }" maxlength="6" formControlName="PINCODE" class="form-control" required/><span class="tooltipstext">Enter PinCode and select Area</span>
            <div *ngIf="submitted && f.PINCODE.errors" class="invalid-feedback">             
                <div *ngIf="f.PINCODE.errors?.pattern">Please enter Valid PINCODE </div>
            </div>
            </td>
        </tr>
        <tr>
            <td><label>Contact No.</label></td>
            <td class="tooltips"><input type="text" maxlength="40" formControlName="ClientPhoneNo" class="form-control" /><span class="tooltipstext">Office Phone Number</span>
            </td>
        </tr>
        <tr>
            <td><label>Fax No.</label></td>
            <td class="tooltips"><input type="text" maxlength="40" formControlName="ClientFaxNo" class="form-control"/><span class="tooltipstext">Office Fax Number</span></td>
        </tr>
        <tr>
            <td><label>Mobile No.</label></td>
            <td class="tooltips"><input type="text" maxlength="10" formControlName="ClientMobileNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ClientMobileNo.errors }" required/><span class="tooltipstext">Ex: 9999900000</span>
                <div *ngIf="submitted && f.ClientMobileNo.errors" class="invalid-feedback">                 
                    <div *ngIf="f.ClientMobileNo.errors?.pattern">Please enter Valid Mobile Number </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Email Id</label></td>
            <td class="tooltips"><input type="email" maxlength="40" formControlName="ClientEMAILID" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.ClientEMAILID.errors }" required/><span class="tooltipstext">Contact Email Id</span>
            <div *ngIf="submitted && f.ClientEMAILID.errors" class="invalid-feedback">
                <div *ngIf="f.ClientEMAILID.errors?.pattern">Please enter Valid Email Id </div>
            </div>
            </td>
        </tr>
        
       <tr *ngIf="LoginClient && id != 0">
            <td><label>GST Number</label></td>
            <td class="tooltips"><input type="text" formControlName="ClientGSTNo" class="form-control" /><span class="tooltipstext">ForInvoicing Purposes</span></td>
        </tr>
        <tr *ngIf="LoginClient && id != 0">
            <td><label>Landmark</label></td>
            <td class="tooltips"><input type="text" formControlName="ClientLandMark" class="form-control"  /><span class="tooltipstext">To help in locating the place</span></td>
        </tr> 
        <tr >            
            <td><label>Main Contact</label></td>
            <td class="tooltips"><input type="text" maxlength="40" formControlName="MainContact" class="form-control"  /><span class="tooltipstext">Name of the main contact</span>
            <!--<div *ngIf="submitted && f.MainContact.errors" class="invalid-feedback">
                <div *ngIf="f.MainContact.errors.required">Please enter Main Contact Name.</div>
            </div>-->
            </td>
        </tr>
        <tr>
            <td><label>Main Designation</label></td>
            <td class="tooltips"><input type="text" maxlength="40" formControlName="MainContactDesgn" class="form-control" /><span class="tooltipstext">Designation
                </span></td>
        </tr>
        <tr>
            <td><label>Main Phone No.</label></td>
            <td><input type="text" formControlName="MainContactNo" maxlength="40" class="form-control" /></td>
        </tr>
        <tr>
            <td><label>Main Email Id</label></td>
            <td><input type="text" formControlName="MainContactEmailId" maxlength="40" class="form-control" /></td>
        </tr>

        <tr>
            <td><label>Alternate Contact</label></td>
            <td class="tooltips"><input type="text" formControlName="AltContact" maxlength="40" class="form-control"/><span class="tooltipstext">Name of the Alternate contact</span>
          <!-- <div *ngIf="submitted && f.AltContact.errors" class="invalid-feedback">
                <div *ngIf="f.AltContact.errors.required">Please enter Alternate Contact Name.</div>
            </div>-->
            </td>
        </tr>
        <tr>
            <td><label>Alternate Designation</label></td>
            <td class="tooltips"><input type="text" formControlName="AltContactDesgn" maxlength="40" class="form-control"/><span class="tooltipstext">Designation</span>            
        </td>
        </tr>
        <tr>
            <td><label>Alternate Phone No.</label></td>
            <td><input type="text" formControlName="AltContactNo" maxlength="40" class="form-control" /></td>
        </tr>
        <tr>
            <td><label>Alternate Email Id</label></td>
            <td><input type="text" formControlName="AltContactEmailId" maxlength="40" class="form-control" /></td>
        </tr> 
        <tr>
            <td><label>Category</label></td>
            <td class="tooltips">
                <select placeholder="ClientCategory" maxlength="8"  class="form-control" id="ClientCategory" name="ClientCategory" formControlName="ClientCategory" >                    
                    <option *ngFor="let item of LookupCategory" value="{{item.Code}}" selected>{{item.Description}}</option>
                </select><span class="tooltipstext">IT, Manufacturing, Finance, Bank, ..</span>
            </td>
        </tr>
        <tr> 
            <td><label>Type</label></td>
            <td class="tooltips">
                <select placeholder="ClientType" maxlength="40" class="form-control" id="ClientType" name="ClientType" formControlName="ClientType" >                                      
                    <option *ngFor="let item of LookupType"  value="{{item.Code}}" selected>{{item.Description}}</option>
                </select><span class="tooltipstext">Client Type (Regular, CWS etc.)</span>

            </td>
        </tr>

        <tr *ngIf="LoginClient && id != 0">
            <td><label>MasterClient</label></td>
            <td><input type="text" formControlName="MasterClientID" id="MasterClientID" name="MasterClientID" class="form-control" /></td>
        </tr>
        <tr *ngIf="LoginClient && id != 0">
            <td><label>AccountCode</label></td>
             <td class="tooltips"><input type="text" maxlength="40" formControlName="ClientGLCode" id="ClientGLCode" name="ClientGLCode" class="form-control"/><span class="tooltipstext">Will be useful for posting fintxns</span>          
            </td> 
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td style="width:50%;" class="mandatory">* Mandatory Fields</td>
            <td style="text-align:right;width:50%;">
                <input type="submit" value="Save" style="width:34% !important;margin:8px !important;" class="button"/>
                <a *ngIf="!LoginClient" [routerLink]="['/login']" class="sign-up"><input type="submit" style="width:34% !important;margin:8px !important;" value="Cancel" class="button"/></a>
                <a *ngIf="LoginClient" [routerLink]="['/dashboard-client']" class="sign-up"><input type="submit" style="width:34% !important;margin:8px !important;" value="Cancel" class="button"/></a>
                <p id="loader" style="margin: -4px 129px -26px 0px;display:none;"><img class="loading-img" src="assets/img/load.gif" alt="loader"></p>
            </td>
        </tr>
    </table>
    
    </form>
</div></div>
<span *ngIf="LoginClient">
    <app-footer></app-footer>
</span>