
<app-header></app-header>
<header id="login">
    <!-- Background Image -->
    <div class="bg-img">
        <img class="background" src="../assets/img/laptop.jpg" alt="logo" width="100%" height="100%">
    </div>
</header>
<br/>
<div class="home-wrapper">
    <div class="login">                
        <div class="login-form">
            <h3>Login</h3>
            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate=""
                                 [formGroup]="loginForm"
                                (submit)='validateLoginDetails(loginForm.value)'>
            <!-- <div class="form-group">                
                    <h5>User Type:</h5>
                    <select id="loginAs" class="form-control" name="loginAs" formControlName="loginAs"
                        #loginAs [ngClass]="{ 'is-invalid': submitted && f.loginAs.errors }">
                        <option value='' selected="selected">Select Type</option>
                        <option value="1">Client</option>
                        <option value="2">Vendor</option>
                        <option value="3">Emagine</option>
                    </select>
                    <div *ngIf="submitted && f.loginAs.errors" class="invalid-feedback">
                        <span *ngIf="f.loginAs.errors.required">Please select correct User Type.</span>                        
                    </div>
                </div>-->
                <div class="form-group">
                    <h5>User Name:</h5>
                    <input type="text" formControlName="username" placeholder="Email id | Mobile Number | User id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Please enter User Name.</div>
                    </div>
                </div>  
                <div class="form-group">
                    <h5>Password:</h5>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Please enter Password.</div>
                       <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
                    </div>
                </div>
                <input type="submit" value="Login" class="login-button button"/>
                <br>
                <p class="no-access" (click)="openForgetDialog()">Forgot your Password?</p>
                <p>New to VATS?<a class="sign-up" (click)="openSignDialog()">Sign Up!</a></p>     
            </form>
        </div>
    </div>
</div>


<div *ngIf="modelform=='true'"> 
    <div class="backdrop" [ngStyle]="{'display':display}"></div>

    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}"> 
      <div class="modal-dialog" role="document">   
        <div class="modal-content">    
          <!--<div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="closeEditDialog()">
              <span aria-hidden="true">&times;</span></button>    
          </div> -->
            <div class="text-center">              
              <h3 class="text-center">Forgot Password?</h3>
              <p>You can reset your password here.</p>              
                <div class="input-group" style="margin-left:10%;"> 
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>                                                
                  <input id="emailInput" placeholder="email address" class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                </div>      
                <input class="button login-button" value="Send My Password" type="submit">
           </div>          
           <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="closeForgetDialog()" >Close</button>
            </div>
        </div>
      </div>
  </div>
</div>
<div *ngIf="signform=='true'"> 
        <div class="backdrop" [ngStyle]="{'display':signdisplay}"></div>    
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':signdisplay}"> 
          <div class="modal-dialog" role="document">   
            <div class="modal-content">    
              <!--<div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeEditDialog()">
                  <span aria-hidden="true">&times;</span></button>    
              </div> -->
                <div class="text-center">    
                  <h3>JOIN THE MOST ADVANCED REQUIREMENT MARKETPLACE</h3>
                       <div> <a [routerLink]="['/client']"><input class="button login-button" value="Sign Up as Client" type="submit"></a></div>
                       <div> <a [routerLink]="['/vendor']"><input class="button login-button" value="Sign Up as Vendor" type="submit"></a></div>
                </div>          
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="closeSignDialog()" >Close</button>
                </div>
            </div>
          </div>
      </div>
    </div>