<app-header></app-header><br/>
<app-menu></app-menu><br/>
<h3 style="text-align: center;">Requisition Dashboard</h3><br/>
  <table #dataTable class="display" id="reqList" style="width:100%">
    <thead>
        <tr>
            <th>Requisition ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Mobile Number</th>
            <th>Email Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Status</th>            
        </tr>       
    </thead>
   
</table>
<app-footer></app-footer>